{% load static node %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width">
    <link rel="icon" href="{% static 'web/img/favicon.ico' %}"/>
    <title>thenewboston node {% node_identifier %}</title>
</head>

<body>
<h3>Navigation</h3>
<ul>
    <li>
        <a href="{% url 'swagger' %}">API documentation</a>
    </li>
    <li>
        <a href="{% url 'admin:index' %}">Admin panel</a>
    </li>
</ul>
</body>

</html>
