[flake8]
ignore = W503,F403,F405,E501,D403,C101,I201
exclude =
    .git,
    __pycache__,
    venv
filename = *.py
accept-encodings = utf-8
inline-quotes = single
max-complexity = 12
max-line-length = 119
max-linenumber = 500
multiline-quotes = double
per-file-ignores =
    thenewboston_node/project/settings/templates/settings.py:F821
